<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<p>There are <%= @total_products %> Different products to purchase</p>
<p>There are <%= @total_categories %> Total Categories</p>